@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
.img{
  background: https://static.vecteezy.com/system/resources/thumbnails/006/413/058/small/soft-beautiful-abstract-background-you-can-use-this-background-for-your-content-like-as-technology-video-gaming-promotion-card-banner-sports-education-presentation-website-anymore-vector.jpgno-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .paragraphs{
  color: #000;
  font-size:17px;
  font-weight:500;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}
* > * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.text-dark {
  color: var(--text-dark);
}

.text-white {
  color: var(--text-white);
}

.text-light {
  color: var(--text-light);
}

.text-gray {
  color: var(--text-gray);
}

.text-red {
  color: var(--text-red);
}

.bg-gradient {
  background: var(--bg-gradient);
}

.bg-gradient-indigo {
  background: var(--bg-gradient-indigo);
}

.bg-gradient-peach {
  background: var(--bg-gradient-peach);
}

.bg-gradient-red {
  background: var(--bg-red);
}

.bg-gradient-blue {
  background: var(--bg-blue);
}

.bg-gradient-yellow {
  background: var(--bg-yellow);
}

.bg-gradient-purple {
  background: var(--bg-purple);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 1em;
  line-height: 1.5em;
}

.text-md {
  font-size: 1.5em;
}

.text-lg {
  font-size: 2.2em;
  line-height: 3rem;
}

.text-xl {
  font-size: 3em;
}

.text-2xl {
  font-size: 5em;
}

.font-bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.container {
  width: 100%;
}

.container-fluid {
  width: 98%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-10 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-10 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.link {
  color: var(--text-dark2);
  font-weight: bold;
}

.link:hover {
  color: var(--text-red);
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  padding: 0.8rem 2rem;
  border-radius: 50px;
  font-family: var(--font-poppins);
  font-weight: bold;
}

.btn-shadow {
  box-shadow: var(--box-shadow);
}

.btn-primary:hover {
  background: var(--bg-gradient-indigo);
}

.bg-cover {
  background: var(--bg-cover);
  object-fit: fill;
}

.d-inline {
  display: inline-block;
}

.d-block {
  display: block;
}

.grid {
  display: grid;
}

.cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

body {
  width: 100%;
  background: url("./assets/backgroundpng.png") no-repeat;
  background-size: cover;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .sm-text-xl {
    font-size: 3em;
  }

  .sm-px-10 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .md-text-left {
    text-align: left;
  }

  .md-mx-initial {
    margin: initial;
  }

  .md-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  #nav .toggle-btn > button {
    display: none;
  }

  #site-main .banner-area {
    background: none;
  }

  #nav {
    flex-direction: row !important;
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }

  .collapse {
    max-height: initial !important;
  }

  .collapse ul {
    flex-direction: row !important;
  }

  .active {
    max-height: 100% !important;
  }

  .lg-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  #nav {
    background: transparent !important;
  }

  #nav .flex-initial ul button {
    display: inline-block !important;
  }

  #site-main .banner-area {
    background: none;
  }
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1.5rem;
  background: var(--text-light);
  flex-direction: column;
}

#nav .collapse {
  max-height: 0px;
  overflow-y: hidden;
  transition: all 0.9s ease;
}

#nav .collapse ul {
  flex-direction: column;
  text-align: center;
  padding: 0 3rem;
}

#nav .collapse ul > li {
  padding: 0rem 1.5rem;
  line-height: 3rem;
  font-size: 1.1em;
}

#nav .toggle-btn > button {
  font-size: 2em;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  color: var(--text-dark2);
}

#nav .flex-initial ul button {
  display: none;
}

.active {
  max-height: 50vh !important;
}

#site-main .banner-area {
  width: 100%;
  position: relative;
  background: var(--bg-cover) no-repeat;
  background-position: right;
  z-index: -99;
}

#site-main .banner-area .banner-title {
  height: 95vh;
  padding-top: 16rem;
}

#site-main .join-area {
  padding: 5em 0;
}

#site-main .life-area > .grid {
  column-gap: 10em;
}

#site-main .life-area .grid-images {
  display: grid;
  grid-template-columns: repeat(16, minmax(10px, 1fr));
  grid-template-rows: repeat(8, minmax(100px, 1fr));
}

#site-main .life-area .grid-images .item-one {
  background: background : linear-gradient(#2b1055,#7597de);
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 5;
  background: var(--bg-image1) no-repeat;
  background-size: cover;
  border-radius: 8px;
  filter: blur(1px);
}

#site-main .life-area .grid-images .item-two {
  background: var(--text-gray);
  grid-column-start: 9;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 4;
  background: var(--bg-image2) no-repeat;
  background-size: cover;
  border-radius: 8px;
  filter: blur(1px);
}


#site-main .life-area .grid-images .item-three {
  grid-area: 3/4/8/14;
  background: var(--bg-image3) no-repeat;
  background-size: cover;
  border-radius: 8px;
  z-index: 99;
}

#site-main .counting-area {
  padding: 7em 0;
}

#site-main .counting-area .grid-one p {
  width: 80%;
}

#site-main .counting-area .count-box {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

#site-main .counting-area .count-box .grid {
  display: inline-grid;
  grid-gap: 2px;
  border-radius: 20px;
  background-color: var(--text-light);
  box-shadow: var(--box-shadow);
}

#site-main .counting-area .count-box .grid > div {
  background-color: white;
  padding: 2em 2.5em;
  text-align: center;
}

#site-main .card-area .grid {
  column-gap: 4em;
  row-gap: 2em;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 40px;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }

  #site-main .banner-area {
    background: none;
  }
}

#site-main .article-area .grid {
  column-gap: 5em;
}

#site-main .article-area .card article {
  border-radius: 10px;
}

#site-main .ready-area .flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer {
  border-top: 2px solid var(--text-light);
  margin-top: 8em;
}

#footer .social {
  text-align: center;
  padding-bottom: 2px;
  color: #4b4c4d;
}

#footer .social a {
  font-size: 24px;
  color: var(--text-red);
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 17px 8px;
  opacity: 0.75;
}

#footer .social a:hover {
  opacity: 0.9;
}

#footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

#footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

#footer ul li {
  display: inline-block;
  padding: 0 15px;
}

#footer ul li a:hover {
  opacity: 1;
}

#footer .copyrights {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}
